/aiload.py
/app.py
/Include
/isvenv.py
/langchainstuf.py
/Lib
/loadtts.py
/loadVoiceRecorder.py
/loadvoicetotext.py
/ollama
/ollama2
/pyproject.toml
/pyvenv.cfg
/recorded_conversation.wav
/requirements.txt
/runlanggraph.py
/Scripts
/tts.py
/__pycache__